includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 8
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
